In [2]:
import numpy as np
import pandas as pd

In [5]:
fire = pd.read_csv("wildfires.csv")
fire.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,October,2003,San Diego,273246,2820,15
3,Rush,Lightning,August,2012,Lassen,271911,0,0
4,Rim,Human Related,August,2013,Tuolumne,257314,112,0

In [7]:
#4 Kiek unikalių reikšmių yra stulpelyje 'cause'?
len(fire["cause"].unique())

5

In [8]:
#5 Kokios gaisrų priežastys, kiek kartų pasitaiko lentelėje?
fire["cause"].value_counts()

Human Related          7
Lightning              7
Powerlines             4
Under Investigation    1
Undetermined           1
Name: cause, dtype: int64

In [15]:
#6 Kuriais metais buvo daugiausia gaisrų?
fire["year"].value_counts().idxmax()

2018

In [17]:
by_cause = fire.groupby("fire_name")
by_cause["year"].idxmin()
by_cause["year"].min()

fire_name
Basin Complex              2008
Big Bar Complex            1999
Camp Fire                  2018
Carr                       2018
Cedar                      2003
Day Fire                   2006
Klamath Theater Complex    2008
Laguna                     1970
Marble Cone                1977
Matilija                   1932
Mcnally                    2002
Mendocino Complex          2018
Rim                        2013
Rough                      2015
Rush                       2012
Stanislaus Complex         1987
Station                    2009
Thomas                     2017
Witch                      2007
Zaca                       2007
Name: year, dtype: int64

In [79]:
by_cause[by_cause["year"]]

KeyError: 'Column not found: <pandas.core.groupby.generic.SeriesGroupBy object at 0x1374ba4a0>'

In [42]:
#7 Kiek buvo tokių gaisrų, kuriuose žuvo žmonės?
fire["deaths"].value_counts().max()

10

In [47]:
#8 Surūšiuokite eilutes pagal metus. Išsiaiškinkite, kaip rūšiuoti, kad naujausi gaisrai būtų viršuje
fire.sort_values('year', ascending=False).head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,July,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
15,Camp Fire,Powerlines,November,2018,Butte,153336,18804,85
6,Carr,Human Related,July,2018,"Shasta County,Trinity County",229651,1614,8
1,Thomas,Powerlines,December,2017,Ventura & Santa Barbara,281893,1063,2
16,Rough,Lightning,July,2015,Fresno,151623,4,0

In [63]:
#9 Parašykite funkciją, kuri mėnesio pavadinimą verstų skaičiumi. Naudodami .apply() lentelėje pakeiskite mėnesių pavadinimus skaičiais.
def skaiciais(month):
    months = {1: 'January',
  2: 'February',
  3: 'March',
  4: 'April',
  5: 'May',
  6: 'June',
  7: 'July',
  8: 'August',
  9: 'September',
  10: 'October',
  11: 'November',
  12: 'December'}
    for sk, men in months.items():
        if men == month:
            return sk

In [64]:
fire["month"] = fire['month'].apply(skaiciais)

In [65]:
fire.head()

,fire_name,cause,month,year,county,acres,structures,deaths
0,Mendocino Complex,Under Investigation,7,2018,"Colusa County, Lake County, Mendocino County &...",459123,280,1
1,Thomas,Powerlines,12,2017,Ventura & Santa Barbara,281893,1063,2
2,Cedar,Human Related,10,2003,San Diego,273246,2820,15
3,Rush,Lightning,8,2012,Lassen,271911,0,0
4,Rim,Human Related,8,2013,Tuolumne,257314,112,0

In [3]:
duomenys_html = pd.read_html('https://work.studentnews.eu/s/3695/75547-European-countries-the-table-language-population-capital-currency-phone-code-internet-code.htm')
duomenys_html

[         0                                                  1
 0  Country  any Austria Belgium Bulgaria Croatia Cyprus Cz...
 1      NaN                                                NaN,
              Staat                     Official languages    Population  \
 0          Austria                                 German   8.4 million
 1          Belgium  Dutch (north), French (south), German    11 million
 2         Bulgaria                              Bulgarian     7 million
 3          Croatia                               Croatian   4.3 million
 4           Cyprus                         Greek, Turkish       800 000
 5   Czech Republic                                  Czech    10 million
 6          Denmark                                 Danish   5.6 million
 7          Estonia                               Estonian   1.3 million
 8          Finland                       Finnish, Swedish   5.4 million
 9           France                                 French    65 million
 10         Germany                                 German  82.5 million
 11          Greece                                  Greek    11 million
 12         Hungary                              Hungarian    10 million
 13         Iceland                              Icelandic       320 000
 14         Ireland                         English, Irish   4.6 million
 15           Italy                                Italian  60.9 million
 16          Latvia                                Latvian     2 million
 17    Lichtenstein                                 German        36 300
 18       Lithuania                             Lithuanian     3 million
 19      Luxembourg          French, German, Luxembourgish       524 000
 20           Malta                       English, Maltese       450 000
 21     Netherlands                                  Dutch  16.8 million
 22          Norway                              Norwegian     5 million
 23          Poland                                 Polish  38.5 million
 24        Portugal                             Portuguese  10.5 million
 25         Romania                               Romanian  19.1 million
 26        Slovakia                              Slovakian   5.4 million
 27        Slovenia                              Slovenian     2 million
 28           Spain                                Spanish    47 million
 29          Sweden                                Swedish   9.5 million
 30     Switzerland       French, German, Italian, Romansh     8 million
 31  United Kingdom                                English  63.2 million

        Capital                Currency  Phone     Int.
 0       Vienna              euro (EUR)     43      .at
 1     Brussels              euro (EUR)     32      .be
 2        Sofia     Bulgarian lev (BGN)    359      .bg
 3       Zagreb     Croatian kuna (HRK)    385      .hr
 4      Nicosia              euro (EUR)    357      .cy
 5       Prague      Czech koruna (CZK)    420      .cz
 6   Copenhagen      Danish krone (DKK)     45      .dk
 7      Tallinn              euro (EUR)    372      .ee
 8     Helsinki              euro (EUR)    358  .fi/.ax
 9        Paris              euro (EUR)     33      .fr
 10      Berlin              euro (EUR)     49      .de
 11      Athens              euro (EUR)     30      .gr
 12    Budapest  Hungarian forint (HUF)     36      .hu
 13   Reykjavik   Icelandic krona (ISK)    354      .is
 14      Dublin              euro (EUR)    353      .ie
 15        Rome              euro (EUR)     39      .it
 16        Riga      Latvian lats (LVL)    371      .lv
 17       Vaduz       Swiss franc (CHF)    423      .li
 18     Vilnius  Lithuanian litas (LTL)    370      .lt
 19  Luxembourg              euro (EUR)    352      .lu
 20    Valletta              euro (EUR)    356      .mt
 21   Amsterdam              euro (EUR)     31      .nl
 22        Oslo   Norwegian krone (NOK)     47      .no
 23      Warsaw      Polish ztoty (PLN)     48      .pl
 24      Lisbon              euro (EUR)    351      .pt
 25   Bucharest      Romanian leu (RON)     40      .ro
 26  Bratislava              euro (EUR)    421      .sk
 27   Ljubljana              euro (EUR)    386      .si
 28      Madrid              euro (EUR)     34      .es
 29   Stockholm     Swedish krona (SEK)     46      .se
 30        Bern       Swiss franc (CHF)     41      .ch
 31      London          Pound sterling     44      .uk  ]

In [14]:
duomenys_html[1].head()

,Staat,Official languages,Population,Capital,Currency,Phone,Int.
0,Austria,German,8.4 million,Vienna,euro (EUR),43,.at
1,Belgium,"Dutch (north), French (south), German",11 million,Brussels,euro (EUR),32,.be
2,Bulgaria,Bulgarian,7 million,Sofia,Bulgarian lev (BGN),359,.bg
3,Croatia,Croatian,4.3 million,Zagreb,Croatian kuna (HRK),385,.hr
4,Cyprus,"Greek, Turkish",800 000,Nicosia,euro (EUR),357,.cy

In [ ]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///countries.db')
countries.to_sql('countries', con=engine, index=False)