#Series

In [13]:
import pandas as pd
import numpy as np

In [ ]:
#datafreimus turi stulpeliai, labelius turi eilutės ...
#paimi duomenis ir juos supakuoji i serija

In [7]:
labels = ['W','X', 'Y', 'Z']
data = [10, 20, 30, 25]
pandos_serija = pd.Series(data=data)
pandos_serija
#siingeter nampajuje nera dinamiskas kaip pythone, apsibrezia iskart dydziu siuo atveju int64

0    10
1    20
2    30
3    25
dtype: int64

In [3]:
2**64/2-1 #didziausias skaicus ka leidzia int64

9.223372036854776e+18

In [8]:
suvardinta_serija = pd.Series(data=data, index=labels)
suvardinta_serija

W    10
X    20
Y    30
Z    25
dtype: int64

In [9]:
asmuo = {
    "vardas": "Kestutis",
    "pavarde": "Linksmavius",
    "amzius": 40,
    "busena":"gyvas"}

asmens_serija = pd.Series(asmuo)
asmens_serija

vardas        Kestutis
pavarde    Linksmavius
amzius              40
busena           gyvas
dtype: object

In [15]:
miestai_vasara = pd.Series([400, 200, 200, 200, 100], ["Vilnius", "Kaunas", "Klaipeda", "Palanga", "Kretinga"])
miestai_vasara

Vilnius     400
Kaunas      200
Klaipeda    200
Palanga     200
Kretinga    100
dtype: int64

In [16]:
miestai_ziema = pd.Series([500, 300, 150, 100, 75], ["Vilnius", "Kaunas", "Klaipeda", "Panevežys", "Šiauliai"])
miestai_ziema

Vilnius      500
Kaunas       300
Klaipeda     150
Panevežys    100
Šiauliai      75
dtype: int64

In [17]:
miestai_ziema + miestai_vasara #sudeda tik tuos kurie turi du skaicius

Kaunas       500.0
Klaipeda     350.0
Kretinga       NaN
Palanga        NaN
Panevežys      NaN
Vilnius      900.0
Šiauliai       NaN
dtype: float64

###Data frame

In [22]:
bet_kas = pd.DataFrame(np.random.rand(5,6), 
                  ['a', 'b', 'c', 'd', 'e'], 
                  ['U', 'V', 'W', 'X', 'Y', 'Z'])

bet_kas

          U         V         W         X         Y         Z
a  0.868811  0.875433  0.302712  0.788802  0.450121  0.930797
b  0.749854  0.326036  0.794761  0.072283  0.803659  0.957795
c  0.299344  0.716571  0.374422  0.141462  0.394826  0.550029
d  0.350101  0.524433  0.605084  0.311294  0.845480  0.599252
e  0.026075  0.838956  0.658043  0.024436  0.599507  0.281806

In [23]:
bet_kas["U"]

a    0.868811
b    0.749854
c    0.299344
d    0.350101
e    0.026075
Name: U, dtype: float64

In [24]:
print(type(bet_kas))
print(type(bet_kas['U']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

In [25]:
bet_kas['T-naujas'] = np.random.rand(5) #pridejo nauja stulpeli
bet_kas

          U         V         W         X         Y         Z  T-naujas
a  0.868811  0.875433  0.302712  0.788802  0.450121  0.930797  0.474039
b  0.749854  0.326036  0.794761  0.072283  0.803659  0.957795  0.657600
c  0.299344  0.716571  0.374422  0.141462  0.394826  0.550029  0.471446
d  0.350101  0.524433  0.605084  0.311294  0.845480  0.599252  0.796945
e  0.026075  0.838956  0.658043  0.024436  0.599507  0.281806  0.868040

In [26]:
bet_kas.drop('T-naujas', axis=1, inplace=True)
bet_kas
#pandos visada darosi kopija todel reikia nurodyti in place, tada veiksmas vykst ant to pacio objkto

          U         V         W         X         Y         Z
a  0.868811  0.875433  0.302712  0.788802  0.450121  0.930797
b  0.749854  0.326036  0.794761  0.072283  0.803659  0.957795
c  0.299344  0.716571  0.374422  0.141462  0.394826  0.550029
d  0.350101  0.524433  0.605084  0.311294  0.845480  0.599252
e  0.026075  0.838956  0.658043  0.024436  0.599507  0.281806

In [27]:
a_eilute_is_bet_ko = bet_kas.loc['a']
a_eilute_is_bet_ko

U    0.868811
V    0.875433
W    0.302712
X    0.788802
Y    0.450121
Z    0.930797
Name: a, dtype: float64

In [28]:
bet_kas.drop('e')

          U         V         W         X         Y         Z
a  0.868811  0.875433  0.302712  0.788802  0.450121  0.930797
b  0.749854  0.326036  0.794761  0.072283  0.803659  0.957795
c  0.299344  0.716571  0.374422  0.141462  0.394826  0.550029
d  0.350101  0.524433  0.605084  0.311294  0.845480  0.599252

In [29]:
bet_kas.iloc[4] #nurodo ketvirta eilute ta kuria istryneme

U    0.026075
V    0.838956
W    0.658043
X    0.024436
Y    0.599507
Z    0.281806
Name: e, dtype: float64

In [30]:
bet_kas.iloc[0] #rodo pirma eilute

U    0.868811
V    0.875433
W    0.302712
X    0.788802
Y    0.450121
Z    0.930797
Name: a, dtype: float64

In [31]:
bet_kas.loc["a", "Z"] #eilute a, stulpelis Z

0.9307966001459039

In [32]:
bet_kas.loc[['a', 'c'], ['U', 'X', 'Z']] #eilutes a ir c imtinai bei stulpeliai U X Z, ima tik pagal label reiksmes, bet ne pagal konkrecios reiksmes indeksa

          U         X         Z
a  0.868811  0.788802  0.930797
c  0.299344  0.141462  0.550029

In [33]:
bet_kas.iloc[[2, 4], -2] # ima pagal reiksmes indeksa

c    0.394826
e    0.599507
Name: Y, dtype: float64

In [36]:
bet_kas.iloc[[2, 4], 0] #pirma nurodo eilutes reiskmes, o tada kuriame jos stuleplyje

c    0.299344
e    0.026075
Name: U, dtype: float64

In [34]:
bet_kas.iloc[[x for x in range(1,4)], [y for y in range (0,3)]]

          U         V         W
b  0.749854  0.326036  0.794761
c  0.299344  0.716571  0.374422
d  0.350101  0.524433  0.605084

In [54]:
#duomenu traukimas pagal salyga
bet_kas[bet_kas > 0.5]

          U         V         W         X        Y         Z
a       NaN       NaN       NaN  0.979447      NaN       NaN
b  0.781427  0.922293  0.917150       NaN      NaN       NaN
c       NaN  0.645294       NaN  0.751417      NaN       NaN
d  0.815108       NaN       NaN  0.888553      NaN       NaN
e  0.664400       NaN  0.984422       NaN  0.51261  0.539447

In [55]:
bet_kas[bet_kas["W"]> 0.5] #pagal W stulpelio filtara isfiltruoja, kitas eilutes

          U         V         W         X         Y         Z
b  0.781427  0.922293  0.917150  0.248265  0.216708  0.132129
e  0.664400  0.110487  0.984422  0.310664  0.512610  0.539447

In [56]:
bet_kas[bet_kas["W"]> 0.5][['U', 'W', 'Z']]

          U         W         Z
b  0.781427  0.917150  0.132129
e  0.664400  0.984422  0.539447

In [61]:
bet_kas[(bet_kas['U']>0.5) & (bet_kas['Z']<0.5)] #pirmas filtas nurodo, kokiu duomenu reikia, antru is kur duomenys paimami

          U         V         W         X         Y         Z
b  0.781427  0.922293  0.917150  0.248265  0.216708  0.132129
d  0.815108  0.075976  0.460674  0.888553  0.313112  0.259193

In [62]:
bet_kas[(bet_kas['U']>0.5) & (bet_kas['Z']<0.5)][['U', 'Z']]

          U         Z
b  0.781427  0.132129
d  0.815108  0.259193

#indeksai

In [37]:
bet_kas.reset_index() 
#reset_index paverčia mūsų seną indeksą dar vienu stulpeliu, ir sukuria naują indeksą iš skaičių. Reikia naudoti inplace=True, jei norime pakeisti originalą.

  index         U         V         W         X         Y         Z
0     a  0.868811  0.875433  0.302712  0.788802  0.450121  0.930797
1     b  0.749854  0.326036  0.794761  0.072283  0.803659  0.957795
2     c  0.299344  0.716571  0.374422  0.141462  0.394826  0.550029
3     d  0.350101  0.524433  0.605084  0.311294  0.845480  0.599252
4     e  0.026075  0.838956  0.658043  0.024436  0.599507  0.281806

In [38]:
naujas_indeksas = 'Vilnius Kaunas Klaipėda Šiauliai Panevėžys'.split()
naujas_indeksas

['Vilnius', 'Kaunas', 'Klaipėda', 'Šiauliai', 'Panevėžys']

In [41]:
bet_kas["Miestai"] = naujas_indeksas
bet_kas

          U         V         W         X         Y         Z    Miestai
a  0.868811  0.875433  0.302712  0.788802  0.450121  0.930797    Vilnius
b  0.749854  0.326036  0.794761  0.072283  0.803659  0.957795     Kaunas
c  0.299344  0.716571  0.374422  0.141462  0.394826  0.550029   Klaipėda
d  0.350101  0.524433  0.605084  0.311294  0.845480  0.599252   Šiauliai
e  0.026075  0.838956  0.658043  0.024436  0.599507  0.281806  Panevėžys

In [42]:
miestu_betkas = bet_kas.set_index('Miestai')
miestu_betkas

                  U         V         W         X         Y         Z
Miestai
Vilnius    0.868811  0.875433  0.302712  0.788802  0.450121  0.930797
Kaunas     0.749854  0.326036  0.794761  0.072283  0.803659  0.957795
Klaipėda   0.299344  0.716571  0.374422  0.141462  0.394826  0.550029
Šiauliai   0.350101  0.524433  0.605084  0.311294  0.845480  0.599252
Panevėžys  0.026075  0.838956  0.658043  0.024436  0.599507  0.281806

In [69]:
bet_kas.drop('Miestai', axis=1, index=True)

ValueError: Cannot specify both 'labels' and 'index'/'columns'