#Series

In [29]:
import pandas as pd
import numpy as np

In [ ]:
#datafreimus turi stulpeliai, labelius turi eilutės ...
#paimi duomenis ir juos supakuoji i serija

In [7]:
labels = ['W','X', 'Y', 'Z']
data = [10, 20, 30, 25]
pandos_serija = pd.Series(data=data)
pandos_serija
#siingeter nampajuje nera dinamiskas kaip pythine, apsibrezia iskart dydu

0    10
1    20
2    30
3    25
dtype: int64

In [3]:
2**64/2-1 #didziausias skaicus ka leidzia int64

9.223372036854776e+18

In [8]:
suvardinta_serija = pd.Series(data=data, index=labels)
suvardinta_serija

W    10
X    20
Y    30
Z    25
dtype: int64

In [9]:
asmuo = {
    "vardas": "Kestutis",
    "pavarde": "Linksmavius",
    "amzius": 40,
    "busena":"gyvas"}

asmens_serija = pd.Series(asmuo)
asmens_serija

vardas        Kestutis
pavarde    Linksmavius
amzius              40
busena           gyvas
dtype: object

In [15]:
miestai_vasara = pd.Series([400, 200, 200, 200, 100], ["Vilnius", "Kaunas", "Klaipeda", "Palanga", "Kretinga"])
miestai_vasara

Vilnius     400
Kaunas      200
Klaipeda    200
Palanga     200
Kretinga    100
dtype: int64

In [16]:
miestai_ziema = pd.Series([500, 300, 150, 100, 75], ["Vilnius", "Kaunas", "Klaipeda", "Panevežys", "Šiauliai"])
miestai_ziema

Vilnius      500
Kaunas       300
Klaipeda     150
Panevežys    100
Šiauliai      75
dtype: int64

In [17]:
miestai_ziema + miestai_vasara #sudeda tik tuos kurie turi du skaicius

Kaunas       500.0
Klaipeda     350.0
Kretinga       NaN
Palanga        NaN
Panevežys      NaN
Vilnius      900.0
Šiauliai       NaN
dtype: float64

###Data frame

In [31]:
bet_kas = pd.DataFrame(np.random.rand(5,6), 
                  ['a', 'b', 'c', 'd', 'e'], 
                  ['U', 'V', 'W', 'X', 'Y', 'Z'])

bet_kas

          U         V         W         X         Y         Z
a  0.160070  0.003974  0.406692  0.979447  0.465561  0.109610
b  0.781427  0.922293  0.917150  0.248265  0.216708  0.132129
c  0.405025  0.645294  0.470703  0.751417  0.136769  0.240259
d  0.815108  0.075976  0.460674  0.888553  0.313112  0.259193
e  0.664400  0.110487  0.984422  0.310664  0.512610  0.539447

In [32]:
bet_kas["U"]

a    0.160070
b    0.781427
c    0.405025
d    0.815108
e    0.664400
Name: U, dtype: float64

In [39]:
print(type(bet_kas))
type(bet_kas['U'])

<class 'pandas.core.frame.DataFrame'>

pandas.core.series.Series

In [38]:
bet_kas['T-naujas'] = np.random.rand(5)
bet_kas

          U         V         W         X         Y         Z  T-naujas
a  0.160070  0.003974  0.406692  0.979447  0.465561  0.109610  0.304702
b  0.781427  0.922293  0.917150  0.248265  0.216708  0.132129  0.325793
c  0.405025  0.645294  0.470703  0.751417  0.136769  0.240259  0.613161
d  0.815108  0.075976  0.460674  0.888553  0.313112  0.259193  0.813188
e  0.664400  0.110487  0.984422  0.310664  0.512610  0.539447  0.282288

In [43]:
bet_kas.drop('T-naujas', axis=1, inplace=True)
bet_kas
#pandos visada darosi kopija todel reikia nurodyti in place, tada veiksmas vykst ant to pacio objkto

KeyError: "['T-naujas'] not found in axis"

In [44]:
a_eilute_is_bet_ko = bet_kas.loc['a']
a_eilute_is_bet_ko

U    0.160070
V    0.003974
W    0.406692
X    0.979447
Y    0.465561
Z    0.109610
Name: a, dtype: float64

In [45]:
bet_kas.drop('e')

          U         V         W         X         Y         Z
a  0.160070  0.003974  0.406692  0.979447  0.465561  0.109610
b  0.781427  0.922293  0.917150  0.248265  0.216708  0.132129
c  0.405025  0.645294  0.470703  0.751417  0.136769  0.240259
d  0.815108  0.075976  0.460674  0.888553  0.313112  0.259193

In [46]:
bet_kas.iloc[4] #nurodo ketvirta stulpeli

U    0.664400
V    0.110487
W    0.984422
X    0.310664
Y    0.512610
Z    0.539447
Name: e, dtype: float64

In [47]:
bet_kas.iloc[0]

U    0.160070
V    0.003974
W    0.406692
X    0.979447
Y    0.465561
Z    0.109610
Name: a, dtype: float64

In [49]:
bet_kas.loc["a", "Z"] #eilute

0.10960978243118957

In [51]:
bet_kas.loc[['a', 'c'], ['U', 'X', 'Z']]

          U         X         Z
a  0.160070  0.979447  0.109610
c  0.405025  0.751417  0.240259

In [52]:
bet_kas.iloc[[2, 4], -2]

c    0.136769
e    0.512610
Name: Y, dtype: float64

In [53]:
bet_kas.iloc[[x for x in range(1,4)], [y for y in range (0,3)]]

          U         V         W
b  0.781427  0.922293  0.917150
c  0.405025  0.645294  0.470703
d  0.815108  0.075976  0.460674

In [54]:
#duomenu traukimas pagal salyga
bet_kas[bet_kas > 0.5]

          U         V         W         X        Y         Z
a       NaN       NaN       NaN  0.979447      NaN       NaN
b  0.781427  0.922293  0.917150       NaN      NaN       NaN
c       NaN  0.645294       NaN  0.751417      NaN       NaN
d  0.815108       NaN       NaN  0.888553      NaN       NaN
e  0.664400       NaN  0.984422       NaN  0.51261  0.539447

In [55]:
bet_kas[bet_kas["W"]> 0.5] #pagal W stulpelio filtara isfiltruoja, kitas eilutes

          U         V         W         X         Y         Z
b  0.781427  0.922293  0.917150  0.248265  0.216708  0.132129
e  0.664400  0.110487  0.984422  0.310664  0.512610  0.539447

In [56]:
bet_kas[bet_kas["W"]> 0.5][['U', 'W', 'Z']]

          U         W         Z
b  0.781427  0.917150  0.132129
e  0.664400  0.984422  0.539447

In [61]:
bet_kas[(bet_kas['U']>0.5) & (bet_kas['Z']<0.5)] #pirmas filtas nurodo, kokiu duomenu reikia, antru is kur duomenys paimami

          U         V         W         X         Y         Z
b  0.781427  0.922293  0.917150  0.248265  0.216708  0.132129
d  0.815108  0.075976  0.460674  0.888553  0.313112  0.259193

In [62]:
bet_kas[(bet_kas['U']>0.5) & (bet_kas['Z']<0.5)][['U', 'Z']]

          U         Z
b  0.781427  0.132129
d  0.815108  0.259193

#indeksai

In [65]:
bet_kas.reset_index() #SUSIKURIA INDEKSAS KURIS NEISSISAUGOJE, KAD ISSISAUGOTU INDEKSAS GALIMA  NAUDOTI IN PLACE FUNKCIJA

          U         V         W         X         Y         Z
a  0.160070  0.003974  0.406692  0.979447  0.465561  0.109610
b  0.781427  0.922293  0.917150  0.248265  0.216708  0.132129
c  0.405025  0.645294  0.470703  0.751417  0.136769  0.240259
d  0.815108  0.075976  0.460674  0.888553  0.313112  0.259193
e  0.664400  0.110487  0.984422  0.310664  0.512610  0.539447

In [67]:
naujas_indeksas = "Vilnius Kaunas Klaipeda Palanga Kretinga".split()
bet_kas['miestai'] = naujas_indeksas
bet_kas

          U         V         W         X         Y         Z   miestai
a  0.160070  0.003974  0.406692  0.979447  0.465561  0.109610   Vilnius
b  0.781427  0.922293  0.917150  0.248265  0.216708  0.132129    Kaunas
c  0.405025  0.645294  0.470703  0.751417  0.136769  0.240259  Klaipeda
d  0.815108  0.075976  0.460674  0.888553  0.313112  0.259193   Palanga
e  0.664400  0.110487  0.984422  0.310664  0.512610  0.539447  Kretinga

In [68]:
bet_kas.set_index('miestai')

                 U         V         W         X         Y         Z
miestai
Vilnius   0.160070  0.003974  0.406692  0.979447  0.465561  0.109610
Kaunas    0.781427  0.922293  0.917150  0.248265  0.216708  0.132129
Klaipeda  0.405025  0.645294  0.470703  0.751417  0.136769  0.240259
Palanga   0.815108  0.075976  0.460674  0.888553  0.313112  0.259193
Kretinga  0.664400  0.110487  0.984422  0.310664  0.512610  0.539447

In [70]:
miestu_betkas = bet_kas.set_index('Miestas')

KeyError: "None of ['Miestas'] are in the columns"

In [69]:
bet_kas.drop('Miestai', axis=1, index=True)

ValueError: Cannot specify both 'labels' and 'index'/'columns'