In [3]:
import numpy as np
import pandas as pd

In [4]:
top = pd.read_csv('top50.csv', encoding='ISO-8859-1')
top.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity
0,1,Seï¿½orita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94

In [6]:
top['Genre'].unique() #isrenka unikalias reiksmes

array(['canadian pop', 'reggaeton flow', 'dance pop', 'pop', 'dfw rap',
       'trap music', 'country rap', 'electropop', 'reggaeton',
       'panamanian pop', 'canadian hip hop', 'latin', 'escape room',
       'pop house', 'australian pop', 'edm', 'atl hip hop', 'big room',
       'boy band', 'r&b en espanol', 'brostep'], dtype=object)

In [7]:
top['Genre'].nunique() #grazina kiek yra reiksmiu viso

21

In [9]:
len(top['Genre'].unique())

21

In [8]:
top['Genre'].value_counts() #suskaiciuoja kiek kokiu reiksmiu yra

dance pop           8
pop                 7
latin               5
canadian hip hop    3
edm                 3
reggaeton           2
reggaeton flow      2
panamanian pop      2
canadian pop        2
electropop          2
country rap         2
dfw rap             2
brostep             2
trap music          1
escape room         1
pop house           1
australian pop      1
atl hip hop         1
big room            1
boy band            1
r&b en espanol      1
Name: Genre, dtype: int64

In [10]:
top["Length."].sum()

10048

In [13]:
def min_sec(seconds):
    minutes = seconds // 60
    seconds = seconds % 60
    return f'{minutes:02d}:{seconds:02d}'

In [14]:
min_sec(63)

'01:03'

In [15]:
#kaip uzdeti funkcija ant stulpelio
top["Length."].apply(min_sec).head()

0    03:11
1    05:02
2    03:06
3    03:18
4    02:55
Name: Length., dtype: object

In [16]:
top['Length.Pretty'] = top["Length."].apply(min_sec)

In [17]:
top.head()

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
0,1,Seï¿½orita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79,03:11
1,2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92,05:02
2,3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85,03:06
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,03:18
4,5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94,02:55

In [19]:
top['Energy'].apply(lambda value: round (value/ 10, 1)).head()

0    5.5
1    8.1
2    8.0
3    6.5
4    6.5
Name: Energy, dtype: float64

In [20]:
top.columns #grazina visus stulpelius

Index(['Unnamed: 0', 'Track.Name', 'Artist.Name', 'Genre', 'Beats.Per.Minute',
       'Energy', 'Danceability', 'Loudness..dB..', 'Liveness', 'Valence.',
       'Length.', 'Acousticness..', 'Speechiness.', 'Popularity',
       'Length.Pretty'],
      dtype='object')

In [21]:
top.index #range parametrai

RangeIndex(start=0, stop=50, step=1)

In [23]:
print(list(range(0, 50, 1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49]

In [22]:
top.shape #50 euluciu, 15 stulpeliu

(50, 15)

In [25]:
top.sort_values("Track.Name").head() #pagal abecele

,Unnamed: 0,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
32,33,0.958333333333333,Maluma,reggaeton,96,71,78,-5,9,68,176,22,28,89,02:56
31,32,7 rings,Ariana Grande,dance pop,140,32,78,-11,9,33,179,59,33,89,02:59
37,38,Antisocial (with Travis Scott),Ed Sheeran,pop,152,82,72,-5,36,91,162,13,5,87,02:42
3,4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,03:18
48,49,Call You Mine,The Chainsmokers,edm,104,70,59,-6,41,50,218,23,3,88,03:38

In [26]:
top.drop('Unnamed: 0', axis=1, inplace=True)

In [30]:
top['Position'] = range(1, 51)
top.set_index("Position", inplace=True)
top.head()

,Track.Name,Artist.Name,Genre,Beats.Per.Minute,Energy,Danceability,Loudness..dB..,Liveness,Valence.,Length.,Acousticness..,Speechiness.,Popularity,Length.Pretty
Position,,,,,,,,,,,,,,
1,Seï¿½orita,Shawn Mendes,canadian pop,117,55,76,-6,8,75,191,4,3,79,03:11
2,China,Anuel AA,reggaeton flow,105,81,79,-4,8,61,302,8,9,92,05:02
3,boyfriend (with Social House),Ariana Grande,dance pop,190,80,40,-4,16,70,186,12,46,85,03:06
4,Beautiful People (feat. Khalid),Ed Sheeran,pop,93,65,64,-8,8,55,198,12,19,86,03:18
5,Goodbyes (Feat. Young Thug),Post Malone,dfw rap,150,65,58,-4,11,18,175,45,7,94,02:55

In [31]:
top.to_csv("sutvarkyti_top50.csv")

In [4]:
data_xls = pd.read_excel('example.xls')
data_xls.head()

   Numeris               Seniūnija     Plotas  Gyventojų skaičius
0        1        Verkių seniūnija  55,65 km²               49359
1        2    Antakalnio seniūnija   77,2 km²               39758
2        3    Pašilaičių seniūnija    8,2 km²               39543
3        4  Fabijoniškių seniūnija    4,1 km²               38253
4        5      Pilaitės seniūnija   13,8 km²               26376

In [6]:
data_xls.to_excel("example_done.xls", sheet_name="Something Else", engine="openpyxl")

In [9]:
duomenys_html = pd.read_html('https://lt.wikipedia.org/wiki/Vilniaus_miesto_savivaldyb%C4%97')
duomenys_html

URLError: <urlopen error [SSL: CERTIFICATE_VERIFY_FAILED] certificate verify failed: unable to get local issuer certificate (_ssl.c:997)>

In [8]:
duomenys_html[9]

NameError: name 'duomenys_html' is not defined

In [ ]:
savivaldos = duomenys_html[9]
savivaldos.head()

In [ ]:
savivaldos.sort_values(savivaldos.columns[2], ascending=False, inplace=True)

In [ ]:
savivaldos.shape

In [ ]:
savivaldos["id"] = range(1, 23)
savivaldos.set_index('id')

In [10]:
from sqlalchemy import create_engine
engine = create_engine('sqlite:///duomenys.db')

ModuleNotFoundError: No module named 'sqlalchemy'

In [ ]:
savivaldos.to_sql('savivaldos')